body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 21px 121px 121px 121px;
    max-width: 1440px;
    margin: 0 auto;
} 

.logo-mobile-black {
    width: 112px;
    height: 66px;
}

.data-line {
    display: flex;
    margin-top: 97px;
}

.data-line-section {
    display: flex;
    margin-right: 30px;
}

.data-image {
    width: 22px;
    height: 21px;
    margin-right: 8px;
}

.data-text {
    font-size: 20px;
}

.section-1-text-image {
    display: flex;
    position: relative;
}

.section-1-text {
    width: 40%;
    margin-top: 0;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    font-weight: 900;
    line-height: 101.38%;
    margin-bottom: 0;
}

.section-1-text-2 {
    font-size: 20px;
    line-height: 150%;
}

.section-1-image {
    position: absolute;
    right: 125px;
}

.noroot-1, .ellipse-1 {
    position: relative;
}

.noroot-1 {
    width: 304px;
    height: 356px;
    z-index: 2;
}

.ellipse-1 {
    width: 274px;
    height: 41px;
    position: absolute;
    bottom: -15px;
    right: 0;
    z-index: 1
}

.section-1-tsitata-autor {
    margin: 150px auto;
    background: #1E4681;
    border-radius: 5px;
    width: 483.63px;
    padding: 25px;
    box-sizing: border-box;
}

.section-1-tsitata {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
}

.section-1-autor {
    font-size: 20px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 5px;
}

h2 {
    font-family: Roboto Slab;
    font-weight: 900;
    font-size: 55px;
}

.section-2-text-image {
    display: flex;
    position: relative;
}

.section-2-text {
    font-size: 24px;
    line-height: 150%;
    width: 50%;
}

.section-2-image {
    position: absolute;
    right: 15px;
}

.noroot-2,.ellipse-2 {
    position: relative;
}

.noroot-2 {
    width: 314px;
    height: 315px;
    z-index: 2;
}

.ellipse-2 {
    width: 366px;
    height: 59px;
    z-index: 1;
    position: absolute;
    right: -15px;
    bottom: -24px;
}

.section-2-image2-text2 {
    padding-top: 80px;
    position: relative;
}

.section-2-image2 {
    position: absolute;
}

.noroot-3, .ellipse-3 {
    position: relative;
}

.noroot-3 {
    width: 232px;
    height: 203px;
    z-index: 2;
}

.ellipse-3 {
    width: 189px;
    height: 32px;
    z-index: 1;
    position: absolute;
    left: 30px;
    bottom: -10px;

}

.section-2-text2 {
    margin-left: 230px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.section-2-text2-block {
    width: 150px;
    margin-right: 95px;
}

.section-2-text2-1 {
    font-size: 25px;
    font-weight: 900;
}

.section-2-text2-2 {
    font-size: 18px;
    line-height: 130%;
}

.section-3 {
    margin: 200px 0;
}

.section-3-text {
    display: flex;
    margin-top: 90px;
}

.section-3-text-block {
    width: 271px;
    margin-right: 110px;
}

.section-3-text-1 {
    font-weight: 900;
    font-size: 25px;
    color: #1E4681;
    margin-bottom: 10px;
}

.section-3-text-2 {
    font-size: 18px;
    line-height: 130%;
}

.section-4 {
    margin: 200px 0;
}

ul {
    width: 50%;
}

li {
    font-size: 24px;
    line-height: 150%;
}

.program {
    display: flex;
    flex-wrap: wrap;
}

.program-scheme {
    width: calc(100%/3 - 40px);
    min-width: 300px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 41px;
    margin-right: 37px;
}

.section-5-image {
    width: 100%;
}

.section-5-text1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    margin-top: 11px;
    margin-bottom: 32px;
    margin-left: 20px;
}

.section-5-text2 {
    font-size: 25px;
    line-height: 130%;
    margin-left: 20px;
    margin-bottom: 23px;
}

.feedback {
    background: #EFEFEF;
    padding: 121px;
    max-width: 1440px;
    margin: 0 auto;
}

.feedback-card {
    width: 791px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 45px;
    margin-top: 75px;
}

.feedback-text {
    font-family: Roboto Slab;
    font-size: 20px;
    line-height: 150%;
}

.feedback-data {
    display: flex;
}

.feedback-autor-photo {
    width: 190px;
    height: 169px;
}

.feedback-autor {
    margin-left: 30px;
}

.feedback-autor-name {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 30px;
}

.feedback-autor-icon {
    width: 32px;
    height: 31px;
}

.price {
    max-width: 1440px;
    margin: 0 auto;
    padding: 179px 121px;
    background: #9DC9C8;
}

.fs25 {
    font-size: 25px;
}

.price-course {
    font-size: 80px;
}

.additional-info {
    display: flex;
}

.additional-info-block {
    width: 294px;
    margin-right: 70px;
    margin-top: 70px;
}

.additional-info-text {
    font-size: 18px;
    line-height: 101.38%;
}

footer {
    max-width: 1440px;
    margin: 0 auto;
    background: #000000;
    padding: 50px 121px;
}

.footer-block-1 {
    display: flex;
    justify-content: space-between;
}

.contact-phone-mail {
    display: flex;
    margin-bottom: 25px;
}

.icon-phone {
    width: 27px;
    height: 27px;
}

.icon-mail {
    width: 27px;
    height: 18px;
    position: relative;
    top: 5px;
}

.contact-text {
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 22px;   
}

.footer-block-2 {
    display: flex;
}

.icon-instagram {
    width: 33px;
    height: 33px;
}

.icon-fb {
    width: 32px;
    height: 32px;
}

.icon-vk {
    width: 35px;
    height: 35px;
}

.icon-viber {
    width: 34px;
    height: 34px;
}

.marr20 {
    margin-right: 20px;
}

.footer-block-3 {
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 145px;
}